@model List<Ekomsys.Entities.tb_News>

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src='@Url.Content("~/Scripts/News/News.js")'></script>
<h2>News</h2>
<div id="grid"></div>


